<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>marklib</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto:500,400italic,100,300' rel='stylesheet' type='text/css'>
    <link href="{{ site.baseurl }}build/css/marklib.css" rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>

{{ content }}
<script type="application/javascript" src="{{ site.baseurl }}build/js/marklib.js"></script>

</body>

</html>