<!DOCTYPE html>
<html>
<head>
    <title>marklib</title>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto' rel='stylesheet' type='text/css'>
    <link href="{{ site.baseurl }}build/css/marklib.css" rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
{{ content }}
<script type="application/javascript" src="{{ site.baseurl }}build/js/marklib.js"></script>

</body>

</html>